.about-page {
  width: 100%;
  height: 100vh;
  position: relative;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 320px;
}

.svgArea {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.circle-text {
  height: 220px;
}

.checkIcon {
  height: 100px;
  position: absolute;
}

.text-area {
  width: 420px;
  text-align: justify;

  display: flex;
  flex-direction: column;
}

.about-page h3:first-child {
  margin: 0;
}
.about-page h3 {
  margin-top: 32px;
}

.about-page p {
  margin-top: 6px;
}
